<h1>Playlist Web App</h1>
<p>Please select your preference:</p>
<a href="/playlister/artist"> Artist </a>
<a href="/playlister/song"> Song </a>
<a href="/playlister/genre"> Genre </a>
<!-- <img src= "<%= @my_image %>"> -->